@import 'tailwindcss';
@plugin "daisyui" {
	themes:
		corporate --default,
		business --prefersdark;
}

@layer base {
	html {
		font-family: Poppins;
	}

	h2 {
		color: #af3f46;
		font-weight: bold;
		font-size: 2.25rem;
	}
}
